<a href="https://colab.research.google.com/github/Klardawio/GitHub-repo/blob/main/Pandas_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [253]:
import pandas as pd

bookings = pd.read_csv('https://stepik.org/media/attachments/lesson/360344/bookings.csv', sep=';')
bookings.head(3)

          Hotel  Is Canceled  ...  Reservation Status Reservation status_date
0  Resort Hotel            0  ...           Check-Out              2015-07-01
1  Resort Hotel            0  ...           Check-Out              2015-07-01
2  Resort Hotel            0  ...           Check-Out              2015-07-02

[3 rows x 21 columns]

**Описание данных**\
Имеются следующие переменные:

- Hotel – тип отеля (City Hotel или Resort Hotel)  
- Is canceled – бронирование было отменено (1) или нет (0); неотменённое считается успешным
- Lead time – количество дней, прошедших между датой бронирования и датой прибытия  
- Arrival full date – полная дата прибытия
- Arrival date year – год прибытия  
- Arrival date month – месяц прибытия  
- Arrival date week number – номер недели прибытия
- Arrival date day of month – день прибытия
- Stays in weekend nights – количество выходных (суббота или воскресенье), - которые гость забронировал для проживания в отеле
- Stays in week nights – количество дней (с понедельника по пятницу), которые гость забронировал для проживания в отеле
- Stays total nights – общее число забронированных ночей (сумма двух предыдущих колонок)
- Adults – число взрослых
- Children – число детей
- Babies – число младенцев 
- Meal – выбранный тип питания
- Country – страна происхождения клиента
- Reserved room type – тип зарезервированного номера
- Assigned room type – тип полученного номера (может отличаться от забронированного)
- Customer type – тип бронирования
- Reservation status – значение последнего статуса брони: Canceled – было отменено клиентом; Check-Out – клиент зарегистрировался, но уже покинул отель; - No-Show – клиент не зарегистрировался и сообщил администрации отеля причину
- Reservation status date – дата обновления статуса

In [254]:
# Приводим названия колонок к нижнему регистру и заменяем пробелы на нижнее подчеркивание

bookings.rename(columns = lambda c: c.lower().replace(' ', '_'), inplace=True)

In [255]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
 #   Column                     Non-Null Count   Dtype
---  ------                     --------------   -----
 0   hotel                      119390 non-null  object
 1   is_canceled                119390 non-null  int64
 2   lead_time                  119390 non-null  int64
 3   arrival_full_date          119390 non-null  object
 4   arrival_date_year          119390 non-null  int64
 5   arrival_date_month         119390 non-null  object
 6   arrival_date_week_number   119390 non-null  int64
 7   arrival_date_day_of_month  119390 non-null  int64
 8   stays_in_weekend_nights    119390 non-null  int64
 9   stays_in_week_nights       119390 non-null  int64
 10  stays_total_nights         119390 non-null  int64
 11  adults                     119390 non-null  int64
 12  children                   119386 non-null  float64
 13  babies                     119390 non-null  int64
 14  meal                       119390 non-null  object
 15  country                    118902 non-null  object
 16  reserved_room_type         119390 non-null  object
 17  assigned_room_type         119390 non-null  object
 18  customer_type              119390 non-null  object
 19  reservation_status         119390 non-null  object
 20  reservation_status_date    119390 non-null  object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

Некоторые данные отсуствуют в колонках children и country

In [256]:
bookings.describe()

         is_canceled      lead_time  ...       children         babies
count  119390.000000  119390.000000  ...  119386.000000  119390.000000
mean        0.370416     104.011416  ...       0.103890       0.007949
std         0.482918     106.863097  ...       0.398561       0.097436
min         0.000000       0.000000  ...       0.000000       0.000000
25%         0.000000      18.000000  ...       0.000000       0.000000
50%         0.000000      69.000000  ...       0.000000       0.000000
75%         1.000000     160.000000  ...       0.000000       0.000000
max         1.000000     737.000000  ...      10.000000      10.000000

[8 rows x 11 columns]

In [257]:
# ТОП-5 стран по количеству успешных бронирований

bookings.query('is_canceled == 0') \
        .value_counts('country') \
        .head(5)

country
PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
dtype: int64

In [258]:
# На сколько ночей (stays_total_nights) в среднем бронируют отели типа City Hotel и Resort Hotel

bookings.groupby('hotel') \
        .agg({'stays_total_nights':'mean'}) \
        .round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [259]:
# Количество случаев, когда изначальнозабронированный номер (reserved_room_type) отличается от полученного (assigned_room_type)

bookings.query('reserved_room_type != assigned_room_type').shape

(14917, 21)

In [260]:
# Количесвто бронирований по месяцам

bookings_mounth = bookings.groupby(['arrival_date_year', 'arrival_date_month'], as_index = False) \
                          .agg({'hotel' : 'count'}) \
                          .sort_values(['arrival_date_year', 'hotel'], ascending = [True, False])
bookings_mounth

    arrival_date_year arrival_date_month  hotel
5                2015          September   5114
4                2015            October   4957
0                2015             August   3889
1                2015           December   2920
2                2015               July   2776
3                2015           November   2340
16               2016            October   6203
14               2016                May   5478
6                2016              April   5428
17               2016          September   5394
12               2016               June   5292
7                2016             August   5063
13               2016              March   4824
11               2016               July   4572
15               2016           November   4454
9                2016           February   3891
8                2016           December   3860
10               2016            January   2248
25               2017                May   6313
18               2017              April   5661
23               2017               June   5647
22               2017               July   5313
24               2017              March   4970
19               2017             August   4925
20               2017           February   4177
21               2017            January   3681

In [261]:
pd.crosstab(index = bookings_mounth.arrival_date_year, 
            columns = bookings_mounth.arrival_date_month, 
            values = bookings_mounth.hotel, 
            aggfunc = sum).round(decimals = 0) \
            .style.background_gradient(cmap='RdYlGn', axis = 'columns')

In [262]:
# Количесвто отменённых бронирований по месяцам + разделение на отели

bookings_hotel_mounth = bookings.groupby(['hotel', 'arrival_date_year', 'arrival_date_month'], as_index = False) \
                          .agg({'is_canceled' : 'sum'}) \
                          .sort_values(['arrival_date_year', 'is_canceled'], ascending = [True, False])

In [263]:
# Среднее количество детей (сумма children и babies) в каждом типе отеля

bookings['total_kids'] = bookings.children + bookings.babies
bookings.groupby('hotel') \
        .agg({'total_kids' : 'mean'}) \
        .round(2)

              total_kids
hotel
City Hotel          0.10
Resort Hotel        0.14

In [264]:
# Вычисление Churn rate (отток, коэффициент оттока) для клиентов с детьми и без

bookings['has_kids'] = bookings['total_kids'] > 0
bookings.groupby('has_kids').agg({'is_canceled': 'mean'}).round(4)*100

          is_canceled
has_kids
False           37.22
True            34.92